



h1 {
text-align: center;
padding: 30px;
font-size: 30px;
background-image: linear-gradient( to right, blue, rgb(120, 183, 225),rgb(151, 151, 227), white);
color: white;
font-family:Verdana, Geneva, Tahoma, sans-serif;
border-radius: 10px;
margin: 5px;
/* border:1px solid black; */
font-weight: bold;
}


h2 {
    padding: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size:25px;
}

h1::before {
    content: "🌤 ";
}

h1::after {
    content: " 🌦";
}

.container {
    display: flex;
}

.sidesection {
    height: 100vh;
}

.weathersection {
    height: 100vh;
    width:78%;
    margin: 5px;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(129, 186, 248), rgb(202, 232, 240));

}

#search-section {
    display: flex;
    display: block;
    margin: 10px;
}

#search-box {
    width: 98%;
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid grey;
    padding-top: 10px;
    padding-bottom: 10px;
}

#searchbtn {
    width: 100%;
   
    font-size: 20px;
    color: white;
    background-color:rgb(120, 183, 225);
    border: 0;
    padding: 10px;
    border-radius: 5px;
}

hr {
    width:94%;
}

.hide {
    visibility: hidden; 
    /* or change to display: none , whichever works better */
}

#timeofdaygreeting {
    font-size: 300%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 40px;
    color: white
}

